
.aside_triangle__top {
    transform: translate(0, -100vh);
    animation-name: fly_from_top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.aside_triangle__bottom {
    transform: translate(0, -100vh);
    animation-name: fly_from_bottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

section.about_me {
    opacity: 0;
    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .25s;
}

h1.main_heading {
    opacity: 0;
    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: .15s;
}



/* Standard syntax */
@keyframes fly_from_bottom {
    from {transform: translate(0, 100vh);}
  to {transform: translate(0, 0);}
}

/* Standard syntax */
@keyframes fly_from_top {
  from {transform: translate(0, -100vh);}
  to {transform: translate(0, 0);}
}

/* Standard syntax */
@keyframes fade_in {
  from {opacity: 0;}
  to {opacity: 1;}
}