
.aside_triangle__top {
    transform: translate(0, -100vh);
    animation-name: fly_from_top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.aside_triangle__bottom {
    transform: translate(0, -100vh);
    animation-name: fly_from_bottom;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

section.about_me {
    opacity: 0;
    animation-name: fade_in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

body.projects section.about_me{
    display: none;
}

body.projects .overlay {
    animation-name: right_to_left;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

body.projects .aside_triangle__top {
    transition-property: border-color;
    transition-duration: .75s;
    transition-timing-function: linear;
    transition-delay: 1s;
    border-color: #2FB5A8 transparent transparent transparent;
}
body.projects .aside_triangle__bottom {
    transition-property: border-color;
    transition-duration: .5s;
    transition-timing-function: linear;
    transition-delay: 1s;
    border-color: transparent transparent transparent dodgerblue;
}


/* h1.main_heading {
    opacity: 0;
    animation-name: fade_in;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
} */

/* Standard syntax */
@keyframes right_to_left {
  from {right: -100vw;}
  to {right: 100vw;}
}

/* Standard syntax */
@keyframes fly_from_bottom {
  from {transform: translate(0, 100vh);}
  to {transform: translate(0, 0);}
}

/* Standard syntax */
@keyframes fly_from_top {
  from {transform: translate(0, -100vh);}
  to {transform: translate(0, 0);}
}

/* Standard syntax */
@keyframes fade_in {
  from {opacity: 0;}
  to {opacity: 1;}
}