button{
    display: inline-block;
    background: #2FB5A8;
    width: 180px;
    height: 45px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    position: relative;
}
button::before{
    content: 'View My Projects';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height:100%;
    display: block;
    background: dodgerblue;
    transition: all .5s linear 1s;
}
button:hover::before{
    width: 100%;
}