* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
aside{
    position: relative;
}
.aside_triangle__top{
    position: relative;
    width: 50vw;
    height: 100vh;
    background: lightcoral;
    opacity: .6;
}
.aside_triangle__bottom{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 0 0 50vw;
    border-color: transparent transparent transparent #2FB5A8;
}