* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
aside{
    position: relative;
    max-width: 50vw;
}
.aside_triangle__top{
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 50vw 0 0;
    border-color: lightcoral transparent transparent transparent;
}
.aside_triangle__bottom{
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 0 0 50vw;
    border-color: transparent transparent transparent #2FB5A8;
}