* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
aside {
    max-width: 50vw;
    position:relative;
    z-index: 1
}
.aside_triangle__top {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 50vw 0 0;
    border-color: lightcoral transparent transparent transparent;
}
.aside_triangle__bottom {
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 0 0 50vw;
    border-color: transparent transparent transparent #2FB5A8;
}
main {
    width: 50vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}
section {
    width: 60%;
    position: relative;
    padding: 7% 0;
    text-align: justify;
    display: inline-block;
}
.button_wrapper {
    text-align: center;
}
button {
    display: inline-block;
}
.overlay {
    height: 100vh;
    width: 100vw;
    background: dodgerblue;
    position: absolute;
    top: 0;
    right: -100vw;
}
nav {
    position: absolute;
    z-index: 2;
}
nav #home_link{
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 20px;
    letter-spacing: 2px;
    transform: translate(20px, 15px);
}
section#projects li {
    position: relative;
    right: -100%;
    display: none;
}