.colorDot {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    display: inline-block;
}

a[href='#kcManager'] + .colorDot{
    background: violet;
}

a[href=#viewDoLabs] + .colorDot{
    background: orange;
}

a[href=#beaconInteractiveSys] + .colorDot{
    background: hotpink;
}

a[href=#vistaprintCS] + .colorDot{
    background: lightseagreen;
}

a[href=#adventInternat] + .colorDot{
    background: indigo;
}

a[href=#vistaprint] + .colorDot{
    background: purple;
}