.main_heading{
    position: absolute;
    z-index: 1;
    font-size: 10vh;
    line-height: 1;
    text-transform: uppercase;
    font-family: arial;
    background: transparent;
    top: calc(50% - 5vh);
}