*{
    font-family: Tahoma, Geneva, sans-serif;
}
h1 {
    transform: translate(-50%, 0);
    position: absolute;
    z-index: 2;
    line-height: 1;
    text-transform: uppercase;
    font-family: Impact, Charcoal, sans-serif;
    background: transparent;
    top: calc(50% - 30px);
    left: 26.5%;
    letter-spacing: 8px;
}
p {
    margin: 0 0 25px;
    font-size: 20px;
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 1.5;
}
.hello {
    color: dodgerblue;
    font-size: 25px;
}
section#projects li{
    font-family: Impact, Charcoal, sans-serif;
    padding: 3vh 0;
    font-size: 26px;
    list-style: none;
    text-align: right;
}
section#projects li a{
    display: inline-block;
    text-decoration: none;
    color: black;
}
section#projects li a[href='#kcManager']:hover{
    color: violet;
}

section#projects li a[href='#viewDoLabs']:hover{
    color: orange;
}

section#projects li a[href='#beaconInteractiveSys']:hover{
    color: hotpink;
}

section#projects li a[href='#vistaprintCS']:hover{
    color: lightseagreen;
}

section#projects li a[href='#adventInternat']:hover{
    color: indigo;
}

section#projects li a[href='#vistaprint']:hover{
    color: purple;
}
